<div class="row mt-3"> 
    <div class="col"> 
        <div class="card border-0 shadow-sm bg-white"> 
            <div class="card-body p-4"> 
                <div class="row px-3 pt-3"> 
                    <div class="col h3"> 
                        Miscellaneous 
                    </div> 
                </div> 
                <div class="row p-3"> 
                    <div class="col"> 
                        <div class="text-profile-bio mt-0" {% if site.data.profile.miscellaneous_text_justify %}style="text-align: justify;"{% endif %}> 
                            {{ site.data.profile.miscellaneous }} 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 


<!--
Some Useful Resource: 
- [AI Conference Deadlines](http://aideadlines.org/?sub=ML,NLP): Countdowns to top NLP/ML/AI conference deadlines.
- [Global Equality for PhDs](https://github.com/zhijing-jin/nlp-phd-global-equality): Resources to promote global equality for PhDs in NLP/AI.
Writing Perfect Papers ([Bilibili](https://www.bilibili.com/video/BV18v411n7mr/?spm_id_from=333.999.0.0) | [Youtube](https://www.youtube.com/watch?v=nUnmQmOOG4E) | [Slides](https://iqua.ece.toronto.edu/papers/writing-perfect-papers-2021.pdf)): A long talk on writing "perfect papers" (by Prof. Baochun Li).
-->